<div>
  <nz-breadcrumb>
    <nz-breadcrumb-item (click)="goFolder('')"><a>Root</a></nz-breadcrumb-item>
    <nz-breadcrumb-item (click)="goFolder(item.link)" *ngFor="let item of breadcrumb">
      <a>{{item.name}}</a>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-table [nzData]="data" [nzShowPagination]="false">
    <thead>
    <tr>
      <th>Name</th>
      <th>Size</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of data">
      <td (click)="go(item)">
        <i *ngIf="item.file&&!item.canPlay" nz-icon nzType="file" nzTheme="outline"></i>
        <i *ngIf="item.file&&item.canPlay" nz-icon nzType="video-camera" nzTheme="outline"></i>
        <i *ngIf="!item.file" nz-icon nzType="folder" nzTheme="outline"></i>
        <span *ngIf="item.name===''">{{item.location | base64Decoder}}</span>
        <span *ngIf="item.name!==''">{{item.name}}</span>
      </td>
      <td>{{item.size}}</td>
    </tr>
    </tbody>
  </nz-table>
</div>
