<div>
  <nz-breadcrumb>
    <nz-breadcrumb-item (click)="goFolder('')"><a>Root</a></nz-breadcrumb-item>
    @for (item of breadcrumb; track item) {
      <nz-breadcrumb-item (click)="goFolder(item.link)">
        <a>{{item.name}}</a>
      </nz-breadcrumb-item>
    }
  </nz-breadcrumb>
  <nz-table [nzData]="data" [nzShowPagination]="false">
    <thead>
      <tr>
        <th>Name</th>
        <th>Size</th>
      </tr>
    </thead>
    <tbody>
      @for (item of data; track item) {
        <tr>
          <td (click)="go(item)">
            @if (item.file&&!item.canPlay) {
              <i nz-icon nzType="file" nzTheme="outline"></i>
            }
            @if (item.file&&item.canPlay) {
              <i nz-icon nzType="video-camera" nzTheme="outline"></i>
            }
            @if (!item.file) {
              <i nz-icon nzType="folder" nzTheme="outline"></i>
            }
            @if (item.name==='') {
              <span>{{item.location | base64Decoder}}</span>
            }
            @if (item.name!=='') {
              <span>{{item.name}}</span>
            }
          </td>
          <td>{{item.size}}</td>
        </tr>
      }
    </tbody>
  </nz-table>
</div>
