target/
!**/src/main/**
!**/src/test/**
.mvn/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
rebel.xml
application-prod.properties
pom.xml.versionsBackup
application-local.properties
application-nas.properties
*.log
*.db
.fastRequest/