<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/mdui/css/mdui.min.css}">
    <title th:text="云舒NAS"></title>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="mdui-drawer-body-left mdui-appbar-with-toolbar mdui-theme-primary-indigo mdui-theme-accent-pink">
<header th:replace="common :: header"></header>
<nav th:replace="common :: nav"></nav>
<section class="mdui-container">
    <form th:action="@{/musicManage/musicUpload}" method="post" enctype="multipart/form-data">
        <label for="music">选择音乐文件上传:</label>
        <br>
        <input id="music" type="file" name="file" accept="audio/*" required>
        <br>
        <input style="margin-top: 16px" type="submit" value="上传">
    </form>
    <hr>
    <form th:action="@{/musicManage/lyricUpload}" method="post" enctype="multipart/form-data">
        <label for="musicId">音乐ID:</label>
        <br>
        <input style="margin-bottom: 16px" id="musicId" type="text" name="musicId" required>
        <br>
        <label for="lyric">选择歌词文件上传:</label>
        <br>
        <input id="lyric" type="file" name="file" required>
        <br>
        <input style="margin-top: 16px" type="submit" value="上传">
    </form>
</section>
<script th:src="@{/mdui/js/mdui.min.js}"></script>
<script th:inline="javascript">
    'use strict';
    const $$ = mdui.JQ;

</script>
</body>
</html>
