<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/mdui/css/mdui.min.css}">
    <title th:text="云舒NAS"></title>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="mdui-drawer-body-left mdui-appbar-with-toolbar mdui-theme-primary-indigo mdui-theme-accent-pink">
<header th:replace="common :: header"></header>
<nav th:replace="common :: nav"></nav>
<section class="mdui-container">
    <div class="mdui-table-fluid">
        <table class="mdui-table mdui-table-hoverable">
            <thead>
            <tr>
                <th>音乐ID</th>
                <th>歌词ID</th>
                <th>音乐名</th>
                <th>歌手</th>
                <th>类型</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${musicPage.content}">
                <td th:text="${item.musicId}"></td>
                <td th:text="${item.lyricId}"></td>
                <td th:text="${item.name}"></td>
                <td th:text="${item.singer}"></td>
                <td th:text="${T(top.itning.yunshunas.music.constant.MusicType).getMediaTypeEnum(item.type).get().name()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <button class="mdui-btn mdui-ripple" style="display: inline" th:disabled="${!musicPage.hasPrevious()}"
                onclick="onPreviousPage()">上一页
        </button>
        <div style="display: inline" th:text="${'第'+(musicPage.getNumber()+1)+'页/'}"></div>
        <div style="display: inline" th:text="${'共'+musicPage.getTotalPages()+'页'}"></div>
        <select style="display: inline" class="mdui-select" mdui-select onchange="elementChange(this)">
            <option value="20" th:selected="${musicPage.getNumberOfElements()==20}">每页20项</option>
            <option value="100" th:selected="${musicPage.getNumberOfElements()==100}">每页100项</option>
            <option value="500" th:selected="${musicPage.getNumberOfElements()==500}">每页500项</option>
            <option value="1000" th:selected="${musicPage.getNumberOfElements()==1000}">每页1000项</option>
            <option value="2000" th:selected="${musicPage.getNumberOfElements()==2000}">每页2000项</option>
            <option value="5000" th:selected="${musicPage.getNumberOfElements()==5000}">每页5000项</option>
        </select>
        <div style="display: inline" th:text="${'共'+musicPage.getTotalElements()+'项'}"></div>
        <button style="display: inline" class="mdui-btn mdui-ripple" th:disabled="${!musicPage.hasNext()}"
                onclick="onNextPage()">下一页
        </button>
    </div>
</section>
<script th:src="@{/mdui/js/mdui.min.js}"></script>
<script th:inline="javascript">
    'use strict';
    const $$ = mdui.JQ;
    const nowPage = [[${musicPage.getNumber()}]];
    let nowElements = [[${musicPage.getNumberOfElements()}]];

    function onPreviousPage() {
        window.location.href = "/musicManage/musicList?page=" + (Number(nowPage) - 1) + "&size=" + Number(nowElements);
    }

    function onNextPage() {
        window.location.href = "/musicManage/musicList?page=" + (Number(nowPage) + 1) + "&size=" + Number(nowElements);
    }

    function elementChange($) {
        nowElements = Number($.value);
        window.location.href = "/musicManage/musicList?page=" + (Number(nowPage)) + "&size=" + Number(nowElements);
    }
</script>
</body>
</html>
